# Ignore the secrets file
secrets.py

# Ignore Python compiled files (junk)
__pycache__/
*.pyc

# Ignore Virtual Environment
venv/
.env

# Ignore documents
*.pdf
Inne_tematy_konweracji.txt

# Ignore pgf-pie folder
pgf-pie/

.vscode/