# Ignore the secrets file
secrets.py
config.py

# Ignore Python compiled files (junk)
__pycache__/
*.pyc

# Ignore Virtual Environment
venv/
.env

# Ignore documents
*.pdf
Inne_tematy_konweracji.txt
preview_report.tex
monthlyReport.tex

# Ignore pgf-pie folder
pgf-pie/

.vscode/

# --- LaTeX Build Artifacts ---
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.bbl
*.blg